// backgrounds colors:
$dark-bg: #212C4F;
$light-bg: #F0F3F5;

// text colors:
$dark-text: #205284;
$light-text: #C6D0EB;

// button colors:

$purple:#7B42F6;
$violet:#B01EFF;
$pink:#E1467C;
$blue:#3672F8;
$teal:#56CCF2;
$green:#A6E1D5;